<div class="page-content">
    <app-toolbar title="Vrije- / feestdagen" backgroundColor="royalblue"></app-toolbar>
    <div *ngIf="chartOptions != undefined">
        <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="chartOptions"

            style="width: 100%; height: 500px; display: block;"
        ></highcharts-chart>
    </div>
    <div class="legend-square" style="background: #00526b"></div><b>Vrije- / feestdag</b>
    <br>
    <div class="legend-square" style="background: #7a3700"></div><b>Weekend</b>
</div>