.toolbar {
    height: 64px;
    width: 100%;
    color: white;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        color: white;
        padding: 0 20px;
        height: 100%;
    }
    
    h5 {
        display: inline-block;
        margin-top: 6px;
    }
}