.toolbar {
    height: 64px;
    width: 100%;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }
    
    h3 {
        display: inline;
        margin: 20px;
    }
}