<div id="cards" class="wrapper-wrapper-wrapper center-align">
    <div class="wrapper-wrapper">
        <div class="wrapper">

            <div class="container" id="c0" routerLink="/figuur-nieuws">
                <div class="image" id="i0">

                    <div class="city">
                        <img src="assets/1.svg"/>                        
                    </div>
                </div>
                <div class="story" id="s0">
                    <div class="info">
                        <h3>Nieuws- artikelen</h3>
                        <p>Hoe heeft nieuws effect op het aantal overstappers en hoe zit het met relevant en algemeen nieuws.</p>
                    </div>
                </div>
            </div>
            <div class="container" id="c1" routerLink="/zon">
                <div class="image" id="i1">
                    <div class="city">
                        <img src="assets/2.svg"/>
                    </div>
                </div>
                <div class="story" id="s1">
                    <div class="info">
                            <h3>Zonnestraling</h3>
                            <p>Heeft zonne-energie invloed op het aantal overstappers? Of kijken mensen op deze dagen liever naar zonnepanelen.</p>
                    </div>
                </div>
            </div>
            <div class="container" id="c2" routerLink="/figuur-leeftijd">
                <div class="image" id="i2">
                    <div class="city">
                        <img src="assets/3.svg"/>
                    </div>
                </div>
                <div class="story" id="s2">
                    <div class="info">
                            <h3>Leeftijd</h3>
                            <p>Is er echt een generatiekloof? Of vindt jong en oud hetzelfde belangrijk?</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>