
.wrapper-wrapper-wrapper {
    width: 100vw;
    overflow-x: auto;
    margin-top: -135px;
}

.wrapper-wrapper {
    display: inline-block;
    width: 1000px;
    height: 550px;
}


.wrapper {
    position: relative;
    // top: 10%;
    margin-left: -60px;
    left: 40%;
    width: 300px;
    height: 500px;
    perspective: 900px;
}

.container {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(40deg) scale(0.7);
    perspective: 900px;
    // box-shadow: 0px 20px 50px #909090;
    animation: entry 1s linear 1;
}

#c0 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #253b89 50%, #201c5b 100%);
    // linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    z-index: 300;
    box-shadow: 0px 5px 50px #dededec0;
}

#c1 {
    background: #f7fafd;
    box-shadow: 0px 5px 50px #dededec0;
    left: 100%;
    z-index: 0;
    color: gray;
}

#c2 {
    left: -100%;
    z-index: 0;
    background: #f7fafd;
    box-shadow: 0px 5px 50px #dededec0;
    color: gray;
}

.container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
}

.city > img {
    width: 100%;
    height: 100%;
}

h1 {
    position: fixed;
    top: 0%;
    left: 30%;
    letter-spacing: 2px;
}

p {
    font-size: 14px;
    padding: 0px 20px 20px 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
}

@keyframes simple {
    50% {
        transform: translateX(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes simple1 {
    50% {
        transform: translateX(-10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }
    100% {
        top: 0%;
    }
}