@charset "UTF-8";

// Color
@import "materialize/color-variables";
@import "materialize/color-classes";

// Variables;
@import "materialize/variables";

// Reset
@import "materialize/normalize";

// materialize
@import "materialize/global";
@import "materialize/badges";
@import "materialize/icons-material-design";
@import "materialize/grid";
@import "materialize/navbar";
@import "materialize/typography";
@import "materialize/transitions";
@import "materialize/cards";
@import "materialize/toast";
@import "materialize/tabs";
@import "materialize/tooltip";
@import "materialize/buttons";
@import "materialize/dropdown";
@import "materialize/waves";
@import "materialize/modal";
@import "materialize/collapsible";
@import "materialize/chips";
@import "materialize/materialbox";
@import "materialize/forms/forms";
@import "materialize/table_of_contents";
@import "materialize/sidenav";
@import "materialize/preloader";
@import "materialize/slider";
@import "materialize/carousel";
@import "materialize/tapTarget";
@import "materialize/pulse";
@import "materialize/datepicker";
@import "materialize/timepicker";



html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.highcharts-credits {
    display: none;
}

router-outlet ~ * {
    position: absolute;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    background: white;
}