@charset "UTF-8";

// Color
@import "materialize/color-variables";
@import "materialize/color-classes";

// Variables;
@import "materialize/variables";

// Reset
@import "materialize/normalize";

// materialize
@import "materialize/global";
@import "materialize/badges";
@import "materialize/icons-material-design";
@import "materialize/grid";
@import "materialize/navbar";
@import "materialize/typography";
@import "materialize/transitions";
@import "materialize/cards";
@import "materialize/toast";
@import "materialize/tabs";
@import "materialize/tooltip";
@import "materialize/buttons";
@import "materialize/dropdown";
@import "materialize/waves";
@import "materialize/modal";
@import "materialize/collapsible";
@import "materialize/chips";
@import "materialize/materialbox";
@import "materialize/forms/forms";
@import "materialize/table_of_contents";
@import "materialize/sidenav";
@import "materialize/preloader";
@import "materialize/slider";
@import "materialize/carousel";
@import "materialize/tapTarget";
@import "materialize/pulse";
@import "materialize/datepicker";
@import "materialize/timepicker";

$num: 15;                           // STYLE HELPER CLASSES
@while $num > -1 {
    .mr#{$num}  { margin:             #{$num}em !important; }
    .mrt#{$num} { margin-top:         #{$num}em !important; }
    .mrr#{$num} { margin-right:       #{$num}em !important; }
    .mrb#{$num} { margin-bottom:      #{$num}em !important; }
    .mrl#{$num} { margin-left:        #{$num}em !important; }

    .p#{$num}  { padding:            #{$num}em !important; }
    .pt#{$num} { padding-top:        #{$num}em !important; }
    .pr#{$num} { padding-right:      #{$num}em !important; }
    .pb#{$num} { padding-bottom:     #{$num}em !important; }
    .pl#{$num} { padding-left:       #{$num}em !important; }

    $num: $num - 1;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.highcharts-credits {
    display: none;
}

router-outlet ~ * {
    position: absolute;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    background: white;
}

.legend-square {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    border: 1px lightgrey solid;
    vertical-align: sub;
}