html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.highcharts-credits {
    display: none;
}

router-outlet ~ * {
    position: absolute;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    background: #36374c;
}

.legend-square {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    border: 1px lightgrey solid;
}