html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.highcharts-credits {
    display: none;
}

router-outlet ~ * {
    position: absolute;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    background: white;
}