<div class="container">
    <div class="center">
        <h2>Ponypy</h2>
    </div>
    
    <h4>Feautured</h4>
    <app-featuredcards></app-featuredcards>
    
    <h4>Alle Correlaties</h4>
    <div class="row">
        <div class="col s12 m6"> <a routerLink="/figuur-1">Weer - 99%</a></div>
        <div class="col s12 m6"> <a routerLink="/figuur-2">Dag van de week - 99%</a></div>
        <div class="col s12 m6"> <a routerLink="/figuur-nlp">Niewsuitingen Bencom - 99%</a></div>
        <div class="col s12 m6"> Linieare regressie - 99%</div>
        <div class="col s12 m6"> Gas en licht in het nieuws - 99%</div>
        <div class="col s12 m6"> Positief nieuws VS negatief nieuws - 99%</div>
    </div>
</div>
