<h2>titel</h2>

<h4>FEATURED</h4>
<ul>
    <li>Een aantal van de meest belangrijke inzichten komen hier in grote 4kante / rechthoekige blokken</li>
</ul>

<h4>Alle Correlaties</h4>
<p>De volgende dingen hebben een correlatie met de aanmeldingen:</p>
<ul>   <!-- Dit zal wordt gesorteerd enzo -->
    <li><a routerLink="/vrije-feest-dagen">Weer - 99%</a></li>
    <li><a routerLink="/figuur-2">Dag van de week - 99%</a></li>
    <li>Niewsuitingen Bencom - 99%</li>
    <li>Linieare regressie - 99%</li>
    <li>Gas en licht in het nieuws - 99%</li>
    <li>Positief nieuws VS negatief nieuws - 99%</li>
</ul>