<div class="container">
    <div class="center">
        <h2>Ponypy</h2>
    </div>
</div>

<app-featuredcards></app-featuredcards>

<div class="container">

    <h4>Alle Correlaties</h4>
    <div class="row">
        <app-percentage-card title="Vrije- / feestdagen" percentage="10"
            href="/vrije-feest-dagen"></app-percentage-card>

        <app-percentage-card title="Zonnestraling" percentage="12"
            href="/figuur-2"></app-percentage-card>

        <app-percentage-card title="Nieuwsuitingen Bencom" percentage="44"
            href="/figuur-nlp"></app-percentage-card>

        <app-percentage-card title="Leeftijd vs. groen/grijs" percentage="44"
            href="/figuur-leeftijd-groen"></app-percentage-card>

        <app-percentage-card title="Nieuwsuitingen Bencom" percentage="44"
            href="/figuur-nlp"></app-percentage-card>

        <app-percentage-card title="Groen vs. grijs" percentage="44"
            href="/figuur-groengrijs"></app-percentage-card>
    </div>
</div>